aiofiles @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_aiofiles_1767290524/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1779297740672/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1774999532496/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
annotated-doc @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_annotated-doc_1762868213/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1774359453/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_async-timeout_1767290444/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
bidict @ file:///home/conda/feedstock_root/build_artifacts/bidict_1734272627465/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1779285033994/work/certifi
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1779108494/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dnspython_1757292856/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1766092521263/work
email-validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1756221362582/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi-core_1776987546/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi-cli_1771293215/work
fastar @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_fastar_1776178006/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1752167153599/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h11_1767729720/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httptools @ file:///Users/runner/miniforge3/conda-bld/httptools_1762504047899/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1779294335/work
ifaddr @ file:///home/conda/feedstock_root/build_artifacts/ifaddr_1734770417027/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1779194972846/work
lxml_html_clean @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_lxml-html-clean_1779398152/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1778169583724/work
markdown2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_markdown2_1772723486/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1772445208465/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1771610689064/work
nicegui @ file:///home/conda/feedstock_root/build_artifacts/nicegui_1779392856775/work
orjson @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_orjson_1778694355/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1744524929518/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic_1778103405/work
pydantic-extra-types @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-extra-types_1775429718/work
pydantic-settings @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pydantic-settings_1778254612/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pydantic-core_1778084289/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1772388605/work
python-engineio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-engineio_1770432177/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-multipart_1779050956/work
python-socketio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-socketio_1770432072/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1770226009848/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1775991661/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1779371615/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1762858192781/work
simple-websocket @ file:///home/conda/feedstock_root/build_artifacts/simple-websocket_1734500610592/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_starlette_1774215956/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tinycss2_1764621508/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
typer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typer_1777583624/work
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing-inspection_1777105465/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_uvicorn_1778851091/work
uvloop @ file:///Users/runner/miniforge3/conda-bld/uvloop_1762472806974/work
watchfiles @ file:///Users/runner/miniforge3/conda-bld/watchfiles_1779085258906/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websockets @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_websockets_1768087431/work/dist
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1763678090349/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1779246018286/work
